.client {
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--main-bg-cl);
}

.client-title {
  margin: 0;
  margin-bottom: 50px;

  font-family: var(--Roboro-txt);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--text-color);
}

.client-list {
  display: flex;
  gap: 30px;

  margin: 0;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border var(--timing-function);

  &-link:hover,
  &-link:focus {
    border-color: var(--additional-cl);
  }

  &-link:hover .client-icon,
  &-link:focus .client-icon {
    fill: var(--additional-cl);
  }
}

.client-icon {
  fill: var(--icon-cl);

  transition: fill var(--timing-function);
}
